<mat-toolbar color="primary">
  <a mat-button routerLink="/">
    <mat-icon>ramen_dining</mat-icon>
    <span>Gestor de Recetas</span>
  </a>

  <span class="spacer"></span> <button mat-icon-button routerLink="/recetas" matTooltip="Recetas">
    <mat-icon>menu_book</mat-icon>
  </button>
  <button mat-icon-button routerLink="/ingredientes" matTooltip="Ingredientes">
    <mat-icon>kitchen</mat-icon>
  </button>
  <button mat-icon-button routerLink="/listas-compras" matTooltip="Listas de Compra">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button routerLink="/planificador" matTooltip="Planificador">
    <mat-icon>event</mat-icon>
  </button>


  <button mat-icon-button (click)="toggleTheme()" [matTooltip]="themeService.currentTheme() === 'dark' ? 'Activar modo claro' : 'Activar modo oscuro'">
    <mat-icon>{{ themeService.currentTheme() === 'dark' ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>

  </mat-toolbar>
